<template>
  <v-container>
    <v-data-table
      :headers="headers"
      :items="coin"
      :items-per-page="5"
      class="elevation-1"
    ></v-data-table>
    <v-btn color="error" @click="test2()">
      Error
    </v-btn>
  </v-container>
</template>
<script>
import { ethers } from 'ethers'
export default {
  data () {
    return {
      headers: [
        { text: 'Name', value: 'name' },
        { text: 'Symbol', value: 'symbol' },
        { text: 'Decimals', value: 'decimals' },
        { text: 'Adrress', value: 'address' }
      ],
      desserts: [
        {
          name: 'Frozen Yogurt',
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          iron: '1%'
        },
        {
          name: 'Ice cream sandwich',
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3,
          iron: '1%'
        },
        {
          name: 'Eclair',
          calories: 262,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
          iron: '7%'
        },
        {
          name: 'Cupcake',
          calories: 305,
          fat: 3.7,
          carbs: 67,
          protein: 4.3,
          iron: '8%'
        },
        {
          name: 'Gingerbread',
          calories: 356,
          fat: 16.0,
          carbs: 49,
          protein: 3.9,
          iron: '16%'
        }
      ],
      coin: []
    }
  },
  methods: {
    async getCoin () {
      const abi = [
        // Read-Only Functions
        'function name() view returns (string)',
        'function balanceOf(address owner) view returns (uint256)',
        'function decimals() view returns (uint8)',
        'function symbol() view returns (string)',

        // Authenticated Functions
        'function transfer(address to, uint amount) returns (boolean)',

        // Events
        'event Transfer(address indexed from, address indexed to, uint amount)'
      ]

      // This can be an address or an ENS name
      const address = '0xB8c77482e45F1F44dE1745F52C74426C631bDD52'
      // An example Provider
      const provider = ethers.getDefaultProvider()
      const erc20 = new ethers.Contract(address, abi, provider)
      var ccoin = {
        name: await erc20.name(),
        symbol: await erc20.symbol(),
        decimals: await erc20.decimals(),
        address: erc20.address
      }
      this.coin.push(ccoin)
    }
  },
  async mounted () {
    await this.getCoin()
  }
}
</script>
